body {
    background-color: #f5f5f5;

}

header {
    background-color: white;
    padding: 0px 50px 12px;
}

img{
    display: inline-block;
    width: 150px;
    height: 130px;
    vertical-align: middle;
}

h4{
    margin: 0px 0px 0px;
}

#register{
    display: inline-block;
    float: right;
    padding: 50px 0px 0px;
}

h3{
    display: inline-block;
    padding: 20px 20px 20px;
}

.sort{
    padding: 30px 40px 0px;
}

.job {
    background-color: white;
    margin: 0px 25px 40px;
}

#danger{
    padding: 30px 30px 0px;
}

#trans{
    padding: 0px 30px 30px;
}

.upside{
    padding: 5px 30px 0px;
}

.down{
    padding: 5px 30px 10px;
}

#line{

    margin: 20px 10px 20px;
}

#line1{
   margin: 10px 0px 10px;
}

#pic{
    text-decoration: none;
}

#name_t{
    color: #ff0037!important;
}