<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <header>
        <a id="pic" href="{{ url_for('index') }}">
            <img border="0" src="{{ url_for('static', filename='logo.png') }}">
        </a>
        <h3>危険・高収入バイト多数掲載！</h3>
        <div  id="register">
            <a href="static/register.html">会員登録</a> |
            <a href="static/login.html">ログイン</a>&emsp;&emsp;
            <a href="static/newjob.html">求人広告掲載をご検討の企業様へ</a>
        </div>
        <Hr id="line1" color="#D8D8D8">
        <h4>バイト一覧</h4>
    </header>
    <div class="sort">
        <b>並び替え</b>&emsp;
        <a href="{{ url_for('index') }}">危険順</a> |
        <a href="{{ url_for('index_safe') }}">安全順</a>

    </div>

    <div>
    {% for job_ in jobs %}
        <div class="job">
        <p>
        <div class="upside" id="danger">
            <b>危険度</b>：
            {% if job_.危険度<=5 and job_.危険度>4 %}
                <font color="deeppink"><b>{{ job_.危険度  }}</b></font>
            {% elif job_.危険度<=4 and job_.危険度>3 %}
                <font color="mediumvioletred"><b>{{ job_.危険度  }}</b></font>
            {% elif job_.危険度<=3 and job_.危険度>2 %}
                <font color="crimson"><b>{{ job_.危険度  }}</b></font>
            {% elif job_.危険度<=2 and job_.危険度>1 %}
                <font color="red"><b>{{ job_.危険度  }}</b></font>
            {% elif job_.危険度<=1 and job_.危険度>0 %}
                <font color="orangered"><b>{{ job_.危険度  }}</b></font>
            {% endif %}
        </div>
            <div class="upside" id="job_name">
            <font size="5"><a id="name_t" href="{{ url_for('job',name= job_.name) }}"><b>{{ job_.name }}</b></a></font>
        </div>
        <div class="upside" id="gaiyou">
            {{ job_.概要 }}
        </div>
            <Hr id="line" color="#D8D8D8">

        <div class="down">
            <b>{{ job_.給与形態 }}</b>&emsp;&emsp;{{ job_.給与 }}
        </div>

        <div class="down" id="trans">
            <b>交通</b>&emsp;&emsp;{{ job_.交通  }}
        </div>


            </p>
        </div>
    {% endfor %}
    </div>

  </body>
</html>
